.negative {
    background-color: black;
    color: whitesmoke;
}
.positive {
    background-color: #ff7961;
    color: whitesmoke;
}
.huge {
    font-size: xx-large;
}
#firstName{
    font-weight: bold;
    font-size: large;
}
[data-sametId="myOwnId"]{
    font-weight: bold;
    font-size: xx-large;
}